<div xmlns="">
    <br>
</div>
<footer class="py-2 bg-dark clearfix ">
    <div class="row">
        <div class="col-lg-4" style="float: left">
        </div>
        <div class="col-lg-4" >
            <div class="row col-12 justify-content-center">
                <div style="text-align: center; color: lightgrey;">
                   <p class="mb-0"><a target="_blank" href="http://127.0.0.1:8000/">Copyright &copy; 2021</a> -Austin的个人网站</p>
                   <p class="mb-0">Main Content
                       <a href="https://www.djangoproject.com/" target="_blank">Django
                       </a> &amp;
                       <a target="_blank" href="https://scrapy-chs.readthedocs.io/zh_CN/0.24/intro/tutorial.html">Web crawler
                       </a>
                   </p>
                   <p class="mb-0"><a href="" target="_blank">ICP备号</a></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4" style="float: right"></div>
    </div>
</footer>

